.cardContainer {
  height: 18.5rem;
  width: 17.5rem;

  .label {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .like {
    color: var(--mantine-color-red-6);
    width: 1rem;
    height: 1rem;
  }

  .projectName {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
