######## BACKEND #########
## REDIS ##
REDIS_HOST = "redis"
REDIS_PORT = "6379" 

## QDRANT ##
QDRANT_URI = "http://172.17.0.1:6333"

## BACKEND ##
OPENAI_API_KEY = ""
NEXT_ENDPOINT = "http://host.docker.internal:3000"
NEXT_API_KEY = "A KEY TO VALIDATE NEXTJS"
PYTHON_CONSUMER_QUEUE = "pythonconsumerqueue"

## LLAMA INDEX ##
USE_OLLAMA = "1"

## WORKER QUEUES ##
CELERY_DOCREMOVER_WORKER_QUEUE = "docremoverqueue"
CELERY_INGESTION_WORKER_QUEUE = "ingestorqueue"
CELERY_QUERYPROCESSOR_WORKER_QUEUE = "queryprocessorqueue"


###### WEB #######
## AUTH ##
GOOGLE_CLIENT_ID = "client id"
GOOGLE_CLIENT_SECRET = "client secret"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET= "RE8k4z6rpCVk9y2EmEWAFR0gfYU4+tNOY0Xzhb9+s8k="

## POSTGRES ##
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/postgres?schema=public"

## REDIS ##
REDIS_HOST = "localhost"
REDIS_PORT = "6379"
PYTHON_CONSUMER_QUEUE = "pythonconsumerqueue"
SERVICE_API_KEY = "RE8k4z6rpCVk9y2EmEWAFR0gf"

## FILESTORE ##
ASSET_UPLOAD_PATH = "uploads"