@use "../../variables.scss" as *;

.loginContainer {
  height: 100vh;

  .content {
    background-color: $colorBgContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;

    .loginText {
      font-size: 3em;
      font-weight: bold;
      color: $primaryColor;
      margin-bottom: 1em;
    }
  }
}
