@use '../../../global.scss' as *;

.chatMessageContent {
  margin-top: 0.2em;
  width: 100%;
  border-radius: 0.8em;
  font-weight: normal;
  font-size: 1.2em;
  border-top-left-radius: 0;

  pre:has(code) {
    padding: 0;
  }

  .chatResponseMessage {
    background-color: $chatMessageBg;
    border: 1px solid $chatMessageBorder;
    border-radius: 0.6em;
    padding: 0.7em 2em;
  }
  .chatResponseMessageSources {
    display: flex;
    align-items: center;
    padding: 0.3em;
    gap: 0.5em;
  }
}
