.siderContainer {
  display: flex;
  flex-direction: column;

  .menuContainer {
    height: 80vh;
  }

  .footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5vh;
  }
}

.headerContainer {
  background-color: #181919;
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .appIcon {
    width: 20vw;
  }

  .mainHeader {
    width: 77vw;
    display: flex;
    justify-content: flex-end;

    .rightHeaderMenu {
      display: flex;
      gap: 1em;
      align-items: center;

      * {
        cursor: pointer;
      }
    }
  }
}
