@use '../../../global.scss' as *;

.projectListContainer {
  height: 88vh;
  overflow-y: auto !important;
  transition: opacity 0.5s ease-in;
  padding-right: 0.5em;

  .projectMembers {
    padding: 0;
    margin: 0;
  }

  .projectTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 1em;
  }

  .tableRow {
    cursor: pointer;
  }
}
