@use '../../global.scss' as *;

.layout {
  height: 100vh;
  overflow: hidden;

  .content {
    height: 100vh;
    display: flex;
    position: relative;

    .sider {
      width: 5vw;
      border: none;
      background-color: var(--mantine-color-dark-8);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .contentBody {
      height: 100vh;
      width: 95vw;

      .header {
        height: 6vh;
      }

      .mainBody {
        height: 94vh;
      }
    }
  }
}
