@use '../../../global.scss' as *;

.kgDetailsContainer {
  height: 100%;

  .title {
    padding: 0 0 0.5rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .content {
    display: flex;
    width: 100%;
    height: 100%;

    .menuContent {
      height: 100%;
      min-width: 15%;
      max-width: 15%;
      display: flex;
      flex-direction: column;

      .navItem * {
        font-size: 0.8rem;
      }
    }

    .tabContent {
      width: 85%;
      padding: 0 1rem;
    }
  }
}
