@use '../../../global.scss' as *;

.kgDetailsContainer {
  height: 100%;
  position: relative;

  .fullScreenToggle {
    padding: 0.5em 0;
    display: flex;
    justify-content: flex-end;
  }

  .kgDetailsHead {
    height: 10vh;
    margin-bottom: 1vh;
    transition:
      all 0.5s ease,
      opacity 0.5s ease;
    overflow: hidden;
    opacity: 1;

    .kgTitle {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }

    .kgDescription {
      opacity: 0.5;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overflow-wrap: break-word;
    }
  }

  .hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  .kgDetailsContent {
    height: calc(100% - 10vh);
    overflow-y: auto;
    position: relative;
  }

  .kgDetailsContent > * {
    height: 100%;
  }

  .kgDetailsContent > * > * > * {
    height: 100%;
  }

  .kgDetailsContent > * > * > * > * {
    height: 100%;
  }

  .kgDetailsContentExpanded {
    height: 97%;
  }
}

/* Media query for screens smaller than a certain width, e.g., tablets and phones */
@media screen and (max-width: 768px) {
  .kgDetailsContainer {
    width: auto;

    .fullScreenToggle {
      display: none;
    }

    .kgDetailsHead {
      height: 10vh;

      .kgAvatar {
        display: none;
      }
    }
  }
}
