@use "../../variables.scss" as *;

.chatScreen {
  width: 100%;
  height: 90vh;
  display: flex;
  gap: 0.5em;

  .chatHistoryContainer {
    height: 100%;
    width: 20%;

    .chatList {
      height: 100%;
      border-radius: 4px;
    }
  }

  .chatContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chatTitle {
      padding-bottom: 0.1em;
      text-align: center;
    }

    .chatWindow {
      height: 85%;
      overflow-y: auto;
      margin-bottom: 0.5em;

      .chatMessage {
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 8px;
      }
    }
  }
}
