@use "../../variables.scss" as *;

.layout {
  height: 100vh;

  .header {
    height: 4.5vh;
    background-color: $headerColor;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  }

  .content {
    height: 95.5vh;
    position: relative;
    display: flex;

    .sider {
      height: 95.5vh;
      width: 3vw;
      background-color: $siderColor;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .main_body {
      height: 93.5vh;
      margin: 1em 2em;
      width: 100%;
    }
  }

  /* Media query for screens smaller than a certain width, e.g., tablets and phones */
  @media screen and (max-width: 768px) {
    .content {
      height: 95.5vh;
      flex-direction: column;

      .main_body {
        order: 1;
        height: 85.5vh;
        width: auto;
      }

      .sider {
        order: 2;
        height: 6vh;
        width: 100vw;
      }
    }
  }
}
