@use "../../variables.scss" as *;

.layout {
  height: 100vh;

  .header {
    height: 4.5vh;
    background-color: $headerColor;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  }

  .content {
    height: 95.5vh;
    position: relative;
    display: flex;

    .sider {
      height: 95.5vh;
      width: 3vw;
      background-color: $siderColor;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .main_body {
      height: 93.5vh;
      width: 93vw;
      margin: 1em 2em;
    }
  }
}
