@use '../../global.scss' as *;

.layout {
  height: 100vh;
  overflow: hidden;
  background-color: $bgColor;

  .header {
    height: 4.5%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .content {
    height: 95.5%;
    display: flex;
    position: relative;

    .sider {
      width: 5%;
      background-color: $dark1;
      border: none;
    }

    .contentBody {
      width: 95%;
      border: 1px solid rgba(150, 150, 150, 0.1);

      .mainBody {
        height: 100%;
        padding: 1% 2%;
      }
    }
  }
}
