@use '../../global.scss' as *;

.layout {
  height: 100vh;
  overflow: hidden;
  background-color: $bgColor;

  .content {
    height: 100vh;
    display: flex;
    position: relative;

    .sider {
      width: 4vw;
      background-color: $dark1;
      border: none;
    }

    .contentBody {
      height: 100vh;
      width: 96vw;

      .header {
        height: 2vh;
      }

      .mainBody {
        height: 98vh;
        padding: 0.5vh 2vw;
      }
    }
  }
}
