@use '../../../global.scss' as *;

.chatHistory {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  .addChatBtn {
    width: 100%;
    margin-bottom: 1em;
  }

  .chatListItem {
    width: 100%;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    padding: 0.8em 1em;
    font-weight: bold;
    opacity: 0.5;
    border-radius: 0.6em;
    cursor: pointer;
    border: 1px solid $colorBgText;
    margin: 0.5em 0;
  }

  .chatListItem:hover {
    background-color: $dark2;
  }
}

.chatHistory:hover {
  overflow-y: auto;
}
