@use '../../../global.scss' as *;

.chatHistory {
  height: 100%;
  padding: 1em 0.2em;
  display: flex;
  align-items: center;
  flex-direction: column;

  .addChatBtn {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }

  .chatTimeline {
    text-align: center;
    font-size: 0.7em !important;
  }

  .chatHistoryList {
    overflow: auto;

    .chatListItem {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1em;
      font-size: 0.74em;
      padding: 0.8em 1.8em;
      border-radius: 1em;
      cursor: pointer;
      transition: all ease-in-out 0.1s;
    }

    .chatListItem:hover {
      background-color: $dark1;
      opacity: 0.5;
    }
  }
}
