@use '../../../global.scss' as *;

.kgListContainer {
  width: 100%;
  overflow-y: auto !important;
  transition: opacity 0.5s ease-in;

  * {
    font-size: 0.7rem;
  }

  .kgMembers {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .kgTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 1rem;
  }

  .tableCell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  .headerRow {
    font-weight: bold;
    background-color: var(--mantine-color-blue-8);
  }
}
