@use '../../../global.scss' as *;

.projectDetailsContainer {
  height: 100%;
  position: relative;
  padding-bottom: 1em;

  .projectDetailsHead {
    height: 5vh;
    overflow-y: hidden;
    opacity: 1;
    transition:
      all 0.5s ease,
      opacity 0.5s ease;

    .projectTitle {
      font-weight: bold;
      font-size: 1.7em;
      margin-bottom: 0.5em;
    }
  }

  .projectDetailsContent {
    height: calc(100% - 5vh);
    position: relative;
  }

  .projectDetailsContentExpanded {
    height: 100%;
  }

  .projectDetailsContent > * {
    height: 100%;
  }

  .projectDetailsContent > * > * > * {
    height: 100%;
  }

  .projectDetailsContent > * > * > * > * {
    height: 100%;
  }
}

/* Media query for screens smaller than a certain width, e.g., tablets and phones */
@media screen and (max-width: 768px) {
  .projectDetailsContainer {
    width: auto;

    .fullScreenToggle {
      display: none;
    }

    .projectDetailsHead {
      height: 10vh;

      .projectAvatar {
        display: none;
      }
    }

    .projectDetailsContent > * > * > * > * {
      height: 100%;
    }
  }
}
