@use "../../../variables.scss" as *;

.projectDetailsContainer {
  height: 93.5vh;
  width: 93vw;
  position: relative;

  .fullScreenToggle {
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
  }

  .projectDetailsHead {
    height: 15vh;
    margin-bottom: 1vh;
    overflow-y: hidden;
    opacity: 1;
    transition: all 0.5s ease, opacity 0.5s ease;

    .projectAvatar {
      font-size: 7em;
      color: $primaryColor;
    }

    .projectTitle {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 0.5em;
      display: flex;
      justify-content: space-between;

      :nth-last-child(1) {
        cursor: pointer;
      }
    }
    .projectDescription {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overflow-wrap: break-word;
    }
  }

  .hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  .projectDetailsContent {
    height: 90.5vh;
    overflow-y: auto;
    position: relative;
  }
}
