@use '../../../global.scss' as *;

.projectDetailsContainer {
  height: 100%;
  position: relative;
  padding: 1em;

  .fullScreenToggle {
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
  }

  .projectDetailsHead {
    height: 10vh;
    margin-bottom: 1vh;
    overflow-y: hidden;
    opacity: 1;
    transition:
      all 0.5s ease,
      opacity 0.5s ease;

    .projectAvatar {
      color: $primaryColor;
    }

    .projectTitle {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 0.5em;
      display: flex;
      justify-content: space-between;

      :nth-last-child(1) {
        cursor: pointer;
      }
    }
    .projectDescription {
      opacity: 0.5;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overflow-wrap: break-word;
    }
  }

  .hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  .projectDetailsContent {
    height: calc(100% - 10vh);
    position: relative;
  }

  .projectDetailsContentExpanded {
    height: 100%;
  }

  .projectDetailsContent > * {
    height: 100%;
  }

  .projectDetailsContent > * > * > * {
    height: 100%;
  }

  .projectDetailsContent > * > * > * > * {
    height: 95%;
  }
}

/* Media query for screens smaller than a certain width, e.g., tablets and phones */
@media screen and (max-width: 768px) {
  .projectDetailsContainer {
    width: auto;

    .fullScreenToggle {
      display: none;
    }

    .projectDetailsHead {
      height: 10vh;

      .projectAvatar {
        display: none;
      }
    }

    .projectDetailsContent > * > * > * > * {
      height: 100%;
    }
  }
}
