@use '../../global.scss' as *;

.projectsContainer {
  width: 100%;
  height: 100%;
  position: relative;

  .screenHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 1.5em;
    gap: 20em;

    .screenTitle {
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .search {
      width: 40%;
    }
  }

  .projectCardsContainer {
    max-height: 100%;
    overflow-y: auto !important;
    transition: opacity 0.5s ease-in;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24vw, 1fr));
    gap: 2em;
    padding: 1em;

    .createNewProject {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      justify-content: center;
      align-items: center;
      opacity: 0.4;

      span {
        font-size: 1.5em;
      }
    }

    .projectCard {
      cursor: pointer;
      width: 100%;
      height: 20vh;
      padding: 0.1em 0.5em;
      box-sizing: border-box;
      border: none;
      border-radius: 0.9em;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
      background-color: $dark2;
      transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;
    }

    .projectCard:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 8px $dark1;
      transform-origin: center;
    }

    .projectTitleContainer {
      height: 8vh;
    }

    .projectTitle {
      padding: 0;
      font-size: 17px;
      padding-bottom: 0.1em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .projectTags {
      padding-bottom: 1em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .projectDescriptionContainer {
      height: 7vh;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      opacity: 0.5;
    }
  }
}

.newProjectFormContainer {
  overflow-y: auto;
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: space-between;

  .formItemsContainer {
    textarea {
      resize: none;
    }
    padding-bottom: 5em;
  }

  .formButtonGroup {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

/* Media query for screens smaller than a certain width, e.g., tablets and phones */
@media screen and (max-width: 768px) {
  .screenHeader {
    .screenTitle {
      font-size: 20px !important;
      font-weight: bold;
      text-transform: uppercase;
    }

    .rightHeader {
      .listToggleSwitch {
        display: none;
      }

      .createNewButton {
        transform: scale(0.9) !important;
      }
    }
  }

  .projectCardsContainer {
    height: 89% !important;

    .projectCard {
      height: 20vh !important;
    }

    .projectTitle {
      font-size: 1em !important;
    }

    .projectTags {
      padding-top: 1em;
      overflow: hidden;
      white-space: pre !important;
      text-overflow: clip !important;
    }

    .projectDescriptionContainer {
      font-size: 0.8em !important;
    }
  }
}
