@use '../../global.scss' as *;

.pageContainer {
  height: 100%;
  position: relative;

  .pageTitle {
    display: flex;
    align-items: center;
    gap: 0.3em;
  }
  .projectsScreen {
    height: 90%;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 4em;

    .projectsContainer {
      width: 70%;
      height: 100%;
      position: relative;

      .screenHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        margin-bottom: 1em;
      }

      .projectCardsContainer {
        height: 100%;
        overflow-y: auto;
        transition: opacity 0.5s ease-in;
        padding-right: 0.5em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 1fr;
        grid-gap: 1em;

        .projectCard {
          cursor: pointer;
          height: 27vh;
          transition: opacity 0.3s ease;
        }

        .projectCard:hover {
          opacity: 0.7;
          box-shadow: rgba(30, 35, 50, 0.9) 0px 2px 3px 0px;
        }

        .projectTitle {
          display: flex;
          align-items: center;
          gap: 0.2em;
          font-size: 1.5em !important;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .projectTags {
          height: 3vh;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .projectDescriptionContainer {
          height: 10vh;
          overflow: hidden;
          text-overflow: ellipsis;
          overflow-wrap: break-word;
          opacity: 0.5;
        }

        .projectMembers {
          height: 5vh;
        }
      }
    }

    .rightContainer {
      width: 30%;

      .appMetricsContainer {
        margin-bottom: 2em;
      }
      .eventsContainer {
        .eventsTitle {
          margin-bottom: 1em;
        }
      }
    }
  }
}

/* Media query for screens smaller than a certain width, e.g., tablets and phones */
@media screen and (max-width: 768px) {
  .screenHeader {
    .screenTitle {
      font-size: 20px !important;
      font-weight: bold;
      text-transform: uppercase;
    }

    .rightHeader {
      .listToggleSwitch {
        display: none;
      }

      .createNewButton {
        transform: scale(0.9) !important;
      }
    }
  }

  .projectCardsContainer {
    height: 89% !important;

    .projectCard {
      height: 20vh !important;
    }

    .projectTitle {
      font-size: 1em !important;
    }

    .projectTags {
      padding-top: 1em;
      overflow: hidden;
      white-space: pre !important;
      text-overflow: clip !important;
    }

    .projectDescriptionContainer {
      font-size: 0.8em !important;
    }
  }
}
