@use '../../../global.scss' as *;

.assetListContainer {
  width: 100%;
  height: 80vh;
  overflow-y: auto !important;
  transition: opacity 0.5s ease-in;

  .assetList {
    max-width: 100%;
  }

  * {
    font-size: 0.6rem !important;
  }

  .assetMembers {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .assetTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 1rem;
  }

  .tableCell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  .headerRow {
    font-weight: bold;
    max-width: 100%;
    background-color: var(--mantine-color-blue-8);
  }

  .status {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border-radius: 0.1rem;
    justify-content: center;
  }
}
