@use "../../variables.scss" as *;

.kgDetailsContainer {
  height: 93.5vh;
  width: 93vw;
  position: relative;

  .fullScreenToggle {
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
  }

  .kgDetailsHead {
    height: 15vh;
    margin-bottom: 1vh;
    transition: all 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    opacity: 1;

    .kgAvatar {
      font-size: 7em;
      color: $primaryColor;
    }

    .kgTitle {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
    .kgDescription {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overflow-wrap: break-word;
    }
  }

  .hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  .kgDetailsContent {
    height: 77.5vh;
    overflow-y: auto;
    position: relative;
  }
}
