@use '../../../global.scss' as *;

.kgInfoContainer {
  height: 100%;
  overflow: auto;

  .kgInfoCard {
    width: 100%;
    background-color: $dark2;
    padding: 1em;
    height: 10vh;
    border-radius: 0.4em;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

    .kgCreatedBy {
      opacity: 0.3;
      font-size: 0.9em;
    }

    .kgType {
      opacity: 0.6;
      font-size: 0.9em;
    }
    .kgInfoTitle {
      font-size: 1.3em;
      font-weight: bold;
    }
  }
}
