@use '../../../global.scss' as *;

// main chat window
.chatWindow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  background-color: $dark1;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  .chatHeader {
    height: 6%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid $colorBgText;

    .chatTitle {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }

  .chatBody {
    padding: 1em 1em 0.4em 1em;
    height: 94%;

    .messageContainer {
      overflow-y: auto;
      transition: all ease-in-out 0.5s;
      height: 82%;

      .chatMessage {
        width: 97%;
        margin: 0 1em;
        border: none;
        padding: 1em 1em;
        margin-bottom: 1em;

        .messageTime {
          font-weight: normal;
          margin-left: 0.2em;
          color: $colorBgText !important;
        }
      }
    }

    .chatInputContainer {
      height: 18%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 0.5em;
      padding-bottom: 0.5em;

      .chatInput {
        width: 90%;
        resize: vertical;
        font-size: 0.9em;
        box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
      }

      .sendButton {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .sendButton:hover {
        opacity: 0.8;
        color: white;
      }
    }
  }
}

/* Media query for screens smaller than a certain width, e.g., tablets and phones */
@media screen and (max-width: 768px) {
  .chatWindow {
    .chatInputContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      .chatInput {
        width: 95%;
        font-size: 0.9em;
      }
    }
  }
}
