@use '../../../global.scss' as *;

.kgUsersContainer {
  height: 82vh;
  overflow-y: auto !important;
  transition: opacity 0.5s ease-in;
  padding-right: 0.5em;

  .kgTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 1em;
  }
}
