@use '../../global.scss' as *;

.breadcrumbContainer {
  padding: 0em 1em;

  .breadcrumbItem {
    border-radius: 1em;
    padding: 0.1em 0.5em;
    color: $primaryColor;
    font-weight: bold;
  }
}
