.header {
  height: 6vh;
  width: 100%;
}

.body {
  height: 94vh;
  width: 100%;

  .sider {
    background-color: #242525;
    height: 94vh;
  }

  .content {
    height: 94vh;
    padding: 1em 2em;
  }
}
