@use '../../global.scss' as *;

.chatScreen {
  height: 100%;
  display: flex;

  .chatHistoryContainer {
    width: 15%;
    background-color: $siderColor2;
  }
  .chatWindowContainer {
    width: 85%;
    height: 100%;
    position: relative;
  }
}

/* Media query for screens smaller than a certain width, e.g., tablets and phones */
@media screen and (max-width: 768px) {
  .chatScreen {
    padding-bottom: 0;
  }
}
