@use '../../global.scss' as *;

// main chat window
.chatWindow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  padding-top: 1em;

  .messageContainer {
    overflow-y: hidden;
    transition: all ease-in-out 0.5s;
    height: 90%;

    .chatMessage {
      width: 97%;
      margin: 0 2em;
      border: none;
      padding: 1em;
      margin-bottom: 0.5em;

      .messageTime {
        font-weight: normal;
        margin-left: 0.2em;
        color: $colorBgText !important;
      }

      .chatMessageContent {
        margin-top: 0.2em;
        width: 100%;
        padding: 1em 2em;
        border-radius: 0.8em;
        font-weight: normal;
        font-size: 1.2em;
        border-top-left-radius: 0;

        pre:has(code) {
          border-radius: 0.5em;
        }
      }
    }
  }

  .messageContainer:hover {
    overflow-y: auto;
  }

  .chatInputContainer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    .chatInput {
      width: 70%;
      resize: vertical;
      font-size: 0.9em;
      box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
    }

    .sendButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
}

// .chatWindow:before {
//   position: absolute;
//   left: 0;
//   top: 0;
//   padding: 2em;
//   content: url('/images/bgIcons.svg');
//   opacity: 0.05;
// }
/* Media query for screens smaller than a certain width, e.g., tablets and phones */
@media screen and (max-width: 768px) {
  .chatWindow {
    .chatInputContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      .chatInput {
        width: 95%;
        font-size: 0.9em;
      }
    }
  }
}

.chatHistory {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  .addChatBtn {
    width: 100%;
    margin-bottom: 1em;
  }

  .chatListItem {
    width: 100%;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    padding: 0.8em 1em;
    font-weight: bold;
    opacity: 0.5;
    border-radius: 0.6em;
    cursor: pointer;
    border: 1px solid $colorBgText;
    margin: 0.5em 0;
  }

  .chatListItem:hover {
    background-color: $dark2;
  }
}

.chatHistory:hover {
  overflow-y: auto;
}
