@use '../../global.scss' as *;

.siderContainer {
  height: 100%;
  display: flex;
  flex-direction: column;

  .logoContainer {
    padding: 1em 0;
    height: 7%;
    display: flex;
    justify-content: center;
    img {
      border-radius: 50%;
    }
  }

  .menuContainer {
    height: 80%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    .navItem {
      cursor: pointer;
      display: flex;
      width: 90%;
      justify-content: center;
      transition: color 1s;
      padding: 10%;
      border-radius: 10%;

      .navItemLink {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3em;

        * {
          font-size: 1.1em;
        }

        .navItemTitle {
          font-size: 0.3em !important;
        }
      }
    }

    .activeNavItem {
      font-weight: bold;
      background-color: $primaryColor;
      border-radius: 10%;
    }

    .navItem:hover {
      background-color: $primaryDark;
      opacity: 0.9;
    }
  }

  .footer {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2vh;

    .profileIcon {
      cursor: pointer;
      font-size: 0.4em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.4em;
    }
  }
}

@media screen and (max-width: 768px) {
  .siderContainer {
    display: flex;
    padding: 0.1em;

    .menuContainer {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2em;
      padding: 0.2em;

      * {
        font-size: 1.08em;
      }

      .activeNavItem {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10%;
        background-color: $primaryColor;
        padding: 0.2em;
      }

      .navItem {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: flex;
        transition: color 1s;
        border-radius: 10%;
        padding: 0.2em;
      }

      .navItem:hover {
        background-color: $primaryDark;
        opacity: 0.9;
      }
    }
  }
}
