@use "../../variables.scss" as *;

.siderContainer {
  height: 100%;
  display: flex;
  flex-direction: column;

  .menuContainer {
    height: 90%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    * {
      font-size: 1.08em;
    }

    .activeNavItem {
      cursor: pointer;
      font-weight: bold;
      background-color: $primaryColor;
      border-radius: 10%;
      padding: 15%;
    }

    .navItem {
      cursor: pointer;
      display: flex;
      transition: color 1s;
      padding: 15%;
      border-radius: 10%;
    }

    .navItem:hover {
      background-color: $primaryDark;
    }
  }

  .footer {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5vh;
  }
}
