.projectDetailsContainer {
  height: 100%;

  .projectDetailsHead {
    max-height: 10em;
    margin-bottom: 2em;

    .projectAvatar {
      font-size: 10em;
    }

    .projectDescription {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
