@use '../../global.scss' as *;

.kgContainer {
  position: relative;
  min-height: 65vh;

  .screenHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 0 0 1em 0;
    gap: 2em;

    .screenTitle {
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.newKGFormContainer {
  overflow-y: auto;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: space-between;

  .formItemsContainer {
    textarea {
      resize: none;
    }
  }

  .formButtonGroup {
    margin-top: 2em;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
