@use '../../../global.scss' as *;

.newProjectFormContainer {
  overflow-y: auto;
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: space-between;

  .formItemsContainer {
    textarea {
      resize: none;
    }
    padding-bottom: 5em;
  }

  .formButtonGroup {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
