@use '../../../global.scss' as *;

.kgCardsContainer {
  height: 82vh;
  overflow-y: auto !important;
  transition: opacity 0.5s ease-in;
  padding-right: 0.5em;

  .kgTitle {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .kgTags {
    height: 3vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .kgDescriptionContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    .kgDescription {
      max-height: 8vh;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      opacity: 0.5;
      width: 80%;
    }
  }

  .kgMembers {
    height: 4vh;
  }

  .kgInfo {
    display: flex;
    align-items: center;
    gap: 0.4em;
  }
}
