/* variables */
$primaryColor: #0a6dc2;
$primaryDark: #323236;
$bgColor: #010409;
$dark1: #0d1117;
$dark2: #1a1e24;
$dark3: #3a3a3c;
$colorBgText: #75797b7a;
$chatMessageBg: #202a3aaf;

.customFileInput {
  width: 100%;
  max-width: 100%;
  padding: 0.2em;
  border-radius: 0.5em;
  border: 1px solid #555 !important;
  color: #555;
}

.customFileInput::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #1890ff;
  padding: 0.3em 1em;
  border-radius: 0.4em;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.customFileInput::file-selector-button:hover {
  background: $primaryColor;
}

/* ANTD MODS */

.ant-table-cell {
  border: none !important;
}

.ant-message-notice-content {
  background-color: $dark2 !important;
  color: #fafafa !important;
}

.ant-modal-content {
  padding: 0 !important;
}

.antd-column-hide {
  display: none;
}

.ant-menu-item-selected {
  background-color: $dark1 !important;
  color: #ffffff !important;
  font-weight: bold;
}
